
body {
	font: 'Raleway', sans-serif;
	color: rgb(0,0,0,);
	text-align: center;
	letter-spacing: .1em;
	top: 10%;
	background: linear-gradient(to right, rgb(123, 35, 158), rgb(5, 196, 21));
}

h1 {
	font: 600 3.5em 'Raleway', sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: capitalize;
	letter-spacing: .0em;
	width: 100%;
}
input {
    background-origin: padding-box;
    fill-opacity: 0.5;
    flood-color: #5262c0;
    font-weight: 2em;
}
ol {
  margin: 2px;
  padding: 2px;
}
ol li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #aaf;
  font-size: 18px;
  transition: 0.2s;
}
ol li:hover {
  background: #ddd;
} 

.ptag{
    background-color: darkviolet;
    font-color: black;
    font-size: 20px;
    text-align: center;
    text-shadow: darkgreen;
}
.header {
  background-color: rgb(77, 4, 70);
  padding: 20px 30px;
  color: white;
  text-align: center;
}
.header:hover{
  background-color: #5262c0
}
.todoBtn:hover {
  background-color: rgb(85, 139, 255);
}
